body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 9cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #000000;
}
